# <center>PROJECT-3. EDA + Feature Engineering. Соревнование на Kaggle</center>

In [22]:
# загружаем необходимые библиотеки
import pandas as pd
import numpy as np

from scipy import stats
import statsmodels.api as sm
from statsmodels import stats as sms

import matplotlib.pyplot as plt
import seaborn as sns

# делаем визуальную настройку графиков
sns.set_theme("notebook") 
sns.set_palette("Set2")

## Загрузка данных

In [2]:
hotels = pd.read_csv('data/hotels.csv')
hotels.head(3)

,hotel_address,additional_number_of_scoring,review_date,average_score,hotel_name,reviewer_nationality,negative_review,review_total_negative_word_counts,total_number_of_reviews,positive_review,review_total_positive_word_counts,total_number_of_reviews_reviewer_has_given,reviewer_score,tags,days_since_review,lat,lng
0,Stratton Street Mayfair Westminster Borough Lo...,581,2/19/2016,8.4,The May Fair Hotel,United Kingdom,Leaving,3,1994,Staff were amazing,4,7,10.0,"[' Leisure trip ', ' Couple ', ' Studio Suite ...",531 day,51.507894,-0.143671
1,130 134 Southampton Row Camden London WC1B 5AF...,299,1/12/2017,8.3,Mercure London Bloomsbury Hotel,United Kingdom,poor breakfast,3,1361,location,2,14,6.3,"[' Business trip ', ' Couple ', ' Standard Dou...",203 day,51.521009,-0.123097
2,151 bis Rue de Rennes 6th arr 75006 Paris France,32,10/18/2016,8.9,Legend Saint Germain by Elegancia,China,No kettle in room,6,406,No Positive,0,14,7.5,"[' Leisure trip ', ' Solo traveler ', ' Modern...",289 day,48.845377,2.325643

In [3]:
hotels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 386803 entries, 0 to 386802
Data columns (total 17 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   hotel_address                               386803 non-null  object
 1   additional_number_of_scoring                386803 non-null  int64
 2   review_date                                 386803 non-null  object
 3   average_score                               386803 non-null  float64
 4   hotel_name                                  386803 non-null  object
 5   reviewer_nationality                        386803 non-null  object
 6   negative_review                             386803 non-null  object
 7   review_total_negative_word_counts           386803 non-null  int64
 8   total_number_of_reviews                     386803 non-null  int64
 9   positive_review                             386803 non-null  object
 10  review_total_positive_word_counts           386803 non-null  int64
 11  total_number_of_reviews_reviewer_has_given  386803 non-null  int64
 12  reviewer_score                              386803 non-null  float64
 13  tags                                        386803 non-null  object
 14  days_since_review                           386803 non-null  object
 15  lat                                         384355 non-null  float64
 16  lng                                         384355 non-null  float64
dtypes: float64(4), int64(5), object(8)
memory usage: 50.2+ MB

In [4]:
print('Количество дубликатов: {}'.format(hotels[hotels.duplicated()].shape[0]))
df = hotels[hotels.duplicated()]
hotels = hotels.drop_duplicates()
hotels.info()

Количество дубликатов: 307
<class 'pandas.core.frame.DataFrame'>
Index: 386496 entries, 0 to 386802
Data columns (total 17 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   hotel_address                               386496 non-null  object
 1   additional_number_of_scoring                386496 non-null  int64
 2   review_date                                 386496 non-null  object
 3   average_score                               386496 non-null  float64
 4   hotel_name                                  386496 non-null  object
 5   reviewer_nationality                        386496 non-null  object
 6   negative_review                             386496 non-null  object
 7   review_total_negative_word_counts           386496 non-null  int64
 8   total_number_of_reviews                     386496 non-null  int64
 9   positive_review                             386496 non-null  object
 10  review_total_positive_word_counts           386496 non-null  int64
 11  total_number_of_reviews_reviewer_has_given  386496 non-null  int64
 12  reviewer_score                              386496 non-null  float64
 13  tags                                        386496 non-null  object
 14  days_since_review                           386496 non-null  object
 15  lat                                         384048 non-null  float64
 16  lng                                         384048 non-null  float64
dtypes: float64(4), int64(5), object(8)
memory usage: 53.1+ MB

In [5]:
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer
nltk.downloader.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /Users/moskalen/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [6]:
# Преобразуем негативные отзывы в оценки с помощью библиотеки NLTK
# время работы: ~45s
sent_analyzer = SentimentIntensityAnalyzer()
hotels[['neg_neg', 'neg_neu', 'neg_pos', 'neg_compound']] = hotels.apply(lambda row: sent_analyzer.polarity_scores(row.negative_review), axis='columns', result_type='expand')
hotels

,hotel_address,additional_number_of_scoring,review_date,average_score,hotel_name,reviewer_nationality,negative_review,review_total_negative_word_counts,total_number_of_reviews,positive_review,...,total_number_of_reviews_reviewer_has_given,reviewer_score,tags,days_since_review,lat,lng,neg_neg,neg_neu,neg_pos,neg_compound
0,Stratton Street Mayfair Westminster Borough Lo...,581,2/19/2016,8.4,The May Fair Hotel,United Kingdom,Leaving,3,1994,Staff were amazing,...,7,10.0,"[' Leisure trip ', ' Couple ', ' Studio Suite ...",531 day,51.507894,-0.143671,0.000,1.000,0.0,0.0000
1,130 134 Southampton Row Camden London WC1B 5AF...,299,1/12/2017,8.3,Mercure London Bloomsbury Hotel,United Kingdom,poor breakfast,3,1361,location,...,14,6.3,"[' Business trip ', ' Couple ', ' Standard Dou...",203 day,51.521009,-0.123097,0.756,0.244,0.0,-0.4767
2,151 bis Rue de Rennes 6th arr 75006 Paris France,32,10/18/2016,8.9,Legend Saint Germain by Elegancia,China,No kettle in room,6,406,No Positive,...,14,7.5,"[' Leisure trip ', ' Solo traveler ', ' Modern...",289 day,48.845377,2.325643,0.423,0.577,0.0,-0.2960
3,216 Avenue Jean Jaures 19th arr 75019 Paris Fr...,34,9/22/2015,7.5,Mercure Paris 19 Philharmonie La Villette,United Kingdom,No Negative,0,607,Friendly staff quiet comfortable room spotles...,...,8,10.0,"[' Leisure trip ', ' Solo traveler ', ' Standa...",681 day,48.888697,2.394540,1.000,0.000,0.0,-0.7096
4,Molenwerf 1 1014 AG Amsterdam Netherlands,914,3/5/2016,8.5,Golden Tulip Amsterdam West,Poland,Torn sheets,4,7586,The staff was very friendly and helpful Break...,...,10,9.6,"[' Business trip ', ' Couple ', ' Standard Dou...",516 day,52.385601,4.847060,0.667,0.333,0.0,-0.2500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
386798,9 Knaresborough Place Kensington and Chelsea L...,107,4/19/2017,9.0,Hotel Moonlight,France,No Negative,0,617,Tr s proche du metro Earl s court,...,10,8.8,"[' Leisure trip ', ' Group ', ' Club Double or...",106 day,51.494028,-0.191050,1.000,0.000,0.0,-0.7096
386799,Landstra er Hauptstra e 155 03 Landstra e 1030...,272,2/13/2017,8.4,BEST WESTERN PLUS Amedia Wien,Turkey,No Negative,0,3224,The bed was so comfy I stayed with my boyfrie...,...,1,9.2,"[' Leisure trip ', ' Couple ', ' Standard Doub...",171 day,48.192379,16.399451,1.000,0.000,0.0,-0.7096
386800,29 31 Gower Street Camden London WC1E 6HG Unit...,457,2/7/2016,6.8,Bloomsbury Palace Hotel,Netherlands,room is really small but guess is normal in L...,12,2751,great location simple check in out nice shower,...,21,8.3,"[' Business trip ', ' Solo traveler ', ' Singl...",543 day,51.520795,-0.131084,0.000,1.000,0.0,0.0000
386801,31 Great Cumberland Place Westminster Borough ...,365,5/21/2017,8.1,The Marble Arch London,United Arab Emirates,No Negative,0,1567,Location and very comfy bed,...,28,9.2,"[' Leisure trip ', ' Solo traveler ', ' Deluxe...",74 days,51.515125,-0.160066,1.000,0.000,0.0,-0.7096
386802,25 Courtfield Gardens Kensington and Chelsea L...,222,8/5/2016,9.0,The Nadler Kensington,Australia,Patio outside could have been cleaned of alga...,20,1209,Beds comfortable Pillows also good Homely fee...,...,2,8.8,"[' Leisure trip ', ' Couple ', ' Bunk Bed Room...",363 day,51.493109,-0.190208,0.000,1.000,0.0,0.0000

In [7]:
# Преобразуем позитивные отзывы в оценки с помощью библиотеки NLTK
# время работы: ~45s
sent_analyzer = SentimentIntensityAnalyzer()
hotels[['pos_neg', 'pos_neu', 'pos_pos', 'pos_compound']] = hotels.apply(lambda row: sent_analyzer.polarity_scores(row.positive_review), axis='columns', result_type='expand')

In [8]:
# Month-to-Season map
# 1 - Winter
# 2 - Spring
# 3 - Summer
# 4 - Autumn 
seasons = {
    '1': 1,
    '2': 1,
    '3': 2,
    '4': 2,
    '5': 2,
    '6': 3,
    '7': 3,
    '8': 3,
    '9': 4,
    '10': 4,
    '11': 4,
    '12': 1,
}
def get_season(review_date):
    items = review_date.split('/')
    return seasons[items[0]]

hotels['review_season'] = hotels['review_date'].apply(lambda d: get_season(d))

In [9]:
# преобразуем days_since_review в целое значение дней
def get_days_since_review(val):
    items = val.split()
    return int(items[0])

hotels['days_since_review'] = hotels['days_since_review'].apply(lambda x: get_days_since_review(x))
hotels.info()

<class 'pandas.core.frame.DataFrame'>
Index: 386496 entries, 0 to 386802
Data columns (total 26 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   hotel_address                               386496 non-null  object
 1   additional_number_of_scoring                386496 non-null  int64
 2   review_date                                 386496 non-null  object
 3   average_score                               386496 non-null  float64
 4   hotel_name                                  386496 non-null  object
 5   reviewer_nationality                        386496 non-null  object
 6   negative_review                             386496 non-null  object
 7   review_total_negative_word_counts           386496 non-null  int64
 8   total_number_of_reviews                     386496 non-null  int64
 9   positive_review                             386496 non-null  object
 10  review_total_positive_word_counts           386496 non-null  int64
 11  total_number_of_reviews_reviewer_has_given  386496 non-null  int64
 12  reviewer_score                              386496 non-null  float64
 13  tags                                        386496 non-null  object
 14  days_since_review                           386496 non-null  int64
 15  lat                                         384048 non-null  float64
 16  lng                                         384048 non-null  float64
 17  neg_neg                                     386496 non-null  float64
 18  neg_neu                                     386496 non-null  float64
 19  neg_pos                                     386496 non-null  float64
 20  neg_compound                                386496 non-null  float64
 21  pos_neg                                     386496 non-null  float64
 22  pos_neu                                     386496 non-null  float64
 23  pos_pos                                     386496 non-null  float64
 24  pos_compound                                386496 non-null  float64
 25  review_season                               386496 non-null  int64
dtypes: float64(12), int64(7), object(7)
memory usage: 79.6+ MB

##### Проверим, можно ли получить координаты отелей из других отзывов

In [14]:
# создаем словарь отелей с существующими координатами
mask = (hotels['lat'].notnull()) & (hotels['lng'].notnull())
hotels_with_coordinates = {}
for _, row in hotels[mask].iterrows():
    if not row.hotel_name in hotels_with_coordinates and row.lat is not None and row.lng is not None:
        hotels_with_coordinates[row.hotel_name] = {'lat': row.lat, 'lng': row.lng}
print(f"Найдено отелей с координатами: {len(hotels_with_coordinates)}")

# проверяем, у скольких отелей удалось восстановить координаты
mask = (hotels['lat'].isna() | (hotels['lng'].isna()))

def get_coordinates_by_hotel_name(hotel_name):
    return hotels_with_coordinates[hotel_name] if hotel_name in hotels_with_coordinates else None

info = hotels[mask]['hotel_name'].apply(lambda x: get_coordinates_by_hotel_name(x))

print("Список отелей с найденными координатами: ")
info[info.notnull()]

Найдено отелей с координатами: 1475
Список отелей с найденными координатами:

Series([], Name: hotel_name, dtype: object)

Вывод: не удалось восстановить координаты по существующим данным, поэтому достанем данные отелей по адресу из других источников

In [12]:
import os
import pickle

missed_coordinates_file = 'data/missed_coordinates.pkl'
if os.path.isfile(missed_coordinates_file):
    with open(missed_coordinates_file, 'rb') as f:
        coordinates = pickle.load(f)
else:
    # поиск координат по адресу с помощью googlemaps библиотеки
    import googlemaps
    import time

    # необходимо было зарегистрироваться на google cloud и получить api key
    gmaps = googlemaps.Client(key='AIzaSyDkREelyxIB6GDF4swOnTb2A32N9i_Zwfo')

    # словарь, где ключ - название отеля, значение - координаты
    coordinates = {}

    mask = (hotels['lat'].isna()) | (hotels['lng'].isna())
    hotels_without_coordinates = hotels[mask].hotel_name.unique()

    total = len(hotels_without_coordinates)
    i = 0
    for hotel_name in hotels_without_coordinates:
        i += 1
        print(f"получение координат: {i} из {total}", end="")
        
        # получение адреса по имени отеля
        mask = hotels['hotel_name'] == hotel_name
        address = hotels[mask & mask.cumsum().eq(1)]['hotel_address'].item()
        
        # получение координат по адресу
        geocode_result = gmaps.geocode(address)
        if geocode_result and len(geocode_result) > 0:
            print(f"", end="\r")
            location = geocode_result[0].get('geometry', {}).get('location', {})
            lat, lng = location.get('lat'), location.get('lng')
        else:
            print("FAILED", end="\n")
            continue
            
        coordinates[hotel_name] = {'lat': lat, 'lng': lng}
        time.sleep(0.200)
    print("", end="\n")
    
    # Сохраним словарь с координатами в отдельный файл
    with open(missed_coordinates_file, 'wb') as f:
        pickle.dump(coordinates, f)

    print(f"Координаты отелей: {coordinates}")
        
print("Количество отелей с найденным координатами:", len(coordinates))

Количество отелей с найденным координатами: 17

In [13]:
# заполняем пропущенные координаты

mask = (hotels['lat'].isna()) | (hotels['lng'].isna())

def get_coordinates(row):
    hotel_name = row['hotel_name']
    if hotel_name in coordinates:
        row['lat'], row['lng'] = coordinates[hotel_name]['lat'], coordinates[hotel_name]['lng']
    else:
        row['lat'], row['lng'] = 0, 0
    return row

hotels[mask] = hotels[mask].apply(lambda x: get_coordinates(x), axis=1)
hotels.info()

<class 'pandas.core.frame.DataFrame'>
Index: 386496 entries, 0 to 386802
Data columns (total 26 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   hotel_address                               386496 non-null  object
 1   additional_number_of_scoring                386496 non-null  int64
 2   review_date                                 386496 non-null  object
 3   average_score                               386496 non-null  float64
 4   hotel_name                                  386496 non-null  object
 5   reviewer_nationality                        386496 non-null  object
 6   negative_review                             386496 non-null  object
 7   review_total_negative_word_counts           386496 non-null  int64
 8   total_number_of_reviews                     386496 non-null  int64
 9   positive_review                             386496 non-null  object
 10  review_total_positive_word_counts           386496 non-null  int64
 11  total_number_of_reviews_reviewer_has_given  386496 non-null  int64
 12  reviewer_score                              386496 non-null  float64
 13  tags                                        386496 non-null  object
 14  days_since_review                           386496 non-null  int64
 15  lat                                         386496 non-null  float64
 16  lng                                         386496 non-null  float64
 17  neg_neg                                     386496 non-null  float64
 18  neg_neu                                     386496 non-null  float64
 19  neg_pos                                     386496 non-null  float64
 20  neg_compound                                386496 non-null  float64
 21  pos_neg                                     386496 non-null  float64
 22  pos_neu                                     386496 non-null  float64
 23  pos_pos                                     386496 non-null  float64
 24  pos_compound                                386496 non-null  float64
 25  review_season                               386496 non-null  int64
dtypes: float64(12), int64(7), object(7)
memory usage: 79.6+ MB

In [14]:
# убираем нечисловые признаки признаки
object_columns = [s for s in hotels.columns if hotels[s].dtypes == 'object']
hotels.drop(object_columns, axis = 1, inplace=True)

# hotels.drop(
#     columns=['hotel_address', 'review_date', 'hotel_name', 'reviewer_nationality', 'negative_review', 'positive_review', 'tags'],
#     inplace=True,
# )

In [15]:
hotels.info()

<class 'pandas.core.frame.DataFrame'>
Index: 386496 entries, 0 to 386802
Data columns (total 19 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   additional_number_of_scoring                386496 non-null  int64
 1   average_score                               386496 non-null  float64
 2   review_total_negative_word_counts           386496 non-null  int64
 3   total_number_of_reviews                     386496 non-null  int64
 4   review_total_positive_word_counts           386496 non-null  int64
 5   total_number_of_reviews_reviewer_has_given  386496 non-null  int64
 6   reviewer_score                              386496 non-null  float64
 7   days_since_review                           386496 non-null  int64
 8   lat                                         386496 non-null  float64
 9   lng                                         386496 non-null  float64
 10  neg_neg                                     386496 non-null  float64
 11  neg_neu                                     386496 non-null  float64
 12  neg_pos                                     386496 non-null  float64
 13  neg_compound                                386496 non-null  float64
 14  pos_neg                                     386496 non-null  float64
 15  pos_neu                                     386496 non-null  float64
 16  pos_pos                                     386496 non-null  float64
 17  pos_compound                                386496 non-null  float64
 18  review_season                               386496 non-null  int64
dtypes: float64(12), int64(7)
memory usage: 59.0 MB

In [16]:
# Разбиваем датафрейм на части, необходимые для обучения и тестирования модели  
# Х - данные с информацией об отелях, у - целевая переменная (рейтинги отелей)  
X = hotels.drop(['reviewer_score'], axis = 1)  
y = hotels['reviewer_score']

In [17]:
# Загружаем специальный инструмент для разбивки:  
from sklearn.model_selection import train_test_split

In [18]:
# Наборы данных с меткой "train" будут использоваться для обучения модели, "test" - для тестирования.  
# Для тестирования мы будем использовать 25% от исходного датасета.  
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [19]:
# Импортируем необходимые библиотеки:  
from sklearn.ensemble import RandomForestRegressor # инструмент для создания и обучения модели  
from sklearn import metrics # инструменты для оценки точности модели  
  
# Создаём модель  
regr = RandomForestRegressor(n_estimators=100)  
      
# Обучаем модель на тестовом наборе данных  
regr.fit(X_train, y_train)  
      
# Используем обученную модель для предсказания рейтинга отелей в тестовой выборке.  
# Предсказанные значения записываем в переменную y_pred  
y_pred = regr.predict(X_test)  

# Время работы: ~4min

In [20]:
# Сравниваем предсказанные значения (y_pred) с реальными (y_test), и смотрим насколько они отличаются  
# Метрика называется Mean Absolute Percentage Error (MAPE) и показывает среднюю абсолютную процентную ошибку предсказанных значений от фактических.  
print('MAPE:', metrics.mean_absolute_percentage_error(y_test, y_pred))

# original MAPE from notebook: 0.14138286324223787
# initial MAPE: 0.14139381475977497
# MAPE with 18 columns (3:50): 0.1260697038954727
# MAPE with 15 columns (2:53): 0.13323894560625268

MAPE: 0.12602918182021627

Небольшой бонус:

In [10]:
# # убираем признаки которые еще не успели обработать, 
# # модель на признаках с dtypes "object" обучаться не будет, просто выберим их и удалим
# object_columns = [s for s in hotels.columns if hotels[s].dtypes == 'object']
# hotels.drop(object_columns, axis = 1, inplace=True)

# # заполняем пропуски самым простым способом
# hotels = hotels.fillna(0)