In [1]:
import pandas as pd
hotels = pd.read_csv('data/hotels.csv')
hotels.head(3)

,hotel_address,additional_number_of_scoring,review_date,average_score,hotel_name,reviewer_nationality,negative_review,review_total_negative_word_counts,total_number_of_reviews,positive_review,review_total_positive_word_counts,total_number_of_reviews_reviewer_has_given,reviewer_score,tags,days_since_review,lat,lng
0,Stratton Street Mayfair Westminster Borough Lo...,581,2/19/2016,8.4,The May Fair Hotel,United Kingdom,Leaving,3,1994,Staff were amazing,4,7,10.0,"[' Leisure trip ', ' Couple ', ' Studio Suite ...",531 day,51.507894,-0.143671
1,130 134 Southampton Row Camden London WC1B 5AF...,299,1/12/2017,8.3,Mercure London Bloomsbury Hotel,United Kingdom,poor breakfast,3,1361,location,2,14,6.3,"[' Business trip ', ' Couple ', ' Standard Dou...",203 day,51.521009,-0.123097
2,151 bis Rue de Rennes 6th arr 75006 Paris France,32,10/18/2016,8.9,Legend Saint Germain by Elegancia,China,No kettle in room,6,406,No Positive,0,14,7.5,"[' Leisure trip ', ' Solo traveler ', ' Modern...",289 day,48.845377,2.325643

In [2]:
hotels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 386803 entries, 0 to 386802
Data columns (total 17 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   hotel_address                               386803 non-null  object
 1   additional_number_of_scoring                386803 non-null  int64
 2   review_date                                 386803 non-null  object
 3   average_score                               386803 non-null  float64
 4   hotel_name                                  386803 non-null  object
 5   reviewer_nationality                        386803 non-null  object
 6   negative_review                             386803 non-null  object
 7   review_total_negative_word_counts           386803 non-null  int64
 8   total_number_of_reviews                     386803 non-null  int64
 9   positive_review                             386803 non-null  object
 10  review_total_positive_word_counts           386803 non-null  int64
 11  total_number_of_reviews_reviewer_has_given  386803 non-null  int64
 12  reviewer_score                              386803 non-null  float64
 13  tags                                        386803 non-null  object
 14  days_since_review                           386803 non-null  object
 15  lat                                         384355 non-null  float64
 16  lng                                         384355 non-null  float64
dtypes: float64(4), int64(5), object(8)
memory usage: 50.2+ MB

In [5]:
#  Задание 4.2
# Сколько уникальных названий отелей представлено в наборе данных?

hotels['hotel_name'].unique().shape[0]

1492

In [6]:
hotels['review_date'] = pd.to_datetime(hotels['review_date'])

In [11]:
#  Задание 4.3
# Ответьте на вопросы о дате размещения отзывов.
# Когда был оставлен самый свежий отзыв? Введите ответ в формате yyyy-mm-dd.
# Когда был оставлен самый первый отзыв? Введите ответ в формате yyyy-mm-dd.
hotels['review_date'].sort_values()

143997   2015-08-04
86268    2015-08-04
159209   2015-08-04
217001   2015-08-04
28485    2015-08-04
            ...
167325   2017-08-03
372341   2017-08-03
54669    2017-08-03
321881   2017-08-03
315137   2017-08-03
Name: review_date, Length: 386803, dtype: datetime64[ns]

In [26]:
#  Задание 4.4
# Сколько уникальных тегов представлено в наборе данных?
tags = {}
for item in hotels['tags']:
    for tag_line in item[1:-1].split(','):
        tag = tag_line.strip()
        if tag not in tags:
            tags[tag] = 1
        else:
            tags[tag] += 1
print(f"Всего тэгов: {len(tags)}") 

sorted_tags = sorted(tags.items(), key=lambda x:x[1], reverse=True)
print(f"Чаше всего используемый тэг: {sorted_tags[0][0]} в {sorted_tags[0][1]} отзывах")

Всего тэгов: 2368
Чаше всего используемый тэг: ' Leisure trip ' в 313593 отзывах

In [32]:
# Задание 4.6
# Из тегов выясните, на сколько ночей чаще всего останавливаются путешественники в отелях.
nights = {}
for tag in tags:
    if 'night' in tag:
        if tag in nights:
            nights[tag] += tags[tag]
        else:
            nights[tag] = tags[tag]
sorted_nights = sorted(nights.items(), key=lambda x:x[1], reverse=True)
sorted_nights

[("' Stayed 1 night '", 145373),
 ("' Stayed 2 nights '", 100263),
 ("' Stayed 3 nights '", 72000),
 ("' Stayed 4 nights '", 35748),
 ("' Stayed 5 nights '", 15611),
 ("' Stayed 6 nights '", 7399),
 ("' Stayed 7 nights '", 5549),
 ("' Stayed 8 nights '", 1910),
 ("' Stayed 9 nights '", 966),
 ("' Stayed 10 nights '", 663),
 ("' Stayed 11 nights '", 306),
 ("' Stayed 12 nights '", 217),
 ("' Stayed 14 nights '", 184),
 ("' Stayed 13 nights '", 174),
 ("' Stayed 15 nights '", 87),
 ("' Stayed 16 nights '", 38),
 ("' Stayed 17 nights '", 27),
 ("' Stayed 18 nights '", 24),
 ("' Stayed 19 nights '", 23),
 ("' Stayed 21 nights '", 19),
 ("' Stayed 20 nights '", 17),
 ("' Stayed 27 nights '", 10),
 ("' Stayed 30 nights '", 10),
 ("' Stayed 22 nights '", 8),
 ("' King Room with Knightsbridge View '", 8),
 ("' Stayed 28 nights '", 7),
 ("' Stayed 26 nights '", 6),
 ("' Special Offer Double Room 3 nights minimum '", 6),
 ("' Stayed 23 nights '", 6),
 ("' Stayed 24 nights '", 5),
 ("' Junior Suite Give me the night '", 4),
 ("' Stayed 25 nights '", 4),
 ("' Stayed 29 nights '", 3),
 ("' Suite with Knightsbridge View '", 1),
 ("' Knightsbridge Suite '", 1)]

In [33]:
hotels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 386803 entries, 0 to 386802
Data columns (total 17 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   hotel_address                               386803 non-null  object
 1   additional_number_of_scoring                386803 non-null  int64
 2   review_date                                 386803 non-null  datetime64[ns]
 3   average_score                               386803 non-null  float64
 4   hotel_name                                  386803 non-null  object
 5   reviewer_nationality                        386803 non-null  object
 6   negative_review                             386803 non-null  object
 7   review_total_negative_word_counts           386803 non-null  int64
 8   total_number_of_reviews                     386803 non-null  int64
 9   positive_review                             386803 non-null  object
 10  review_total_positive_word_counts           386803 non-null  int64
 11  total_number_of_reviews_reviewer_has_given  386803 non-null  int64
 12  reviewer_score                              386803 non-null  float64
 13  tags                                        386803 non-null  object
 14  days_since_review                           386803 non-null  object
 15  lat                                         384355 non-null  float64
 16  lng                                         384355 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(5), object(7)
memory usage: 50.2+ MB